

@import url(https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Poppins:ital,wght@0,400;0,600;1,500;1,600&family=Roboto:wght@300;400;500&display=swap);
* {
    font-family: Poppins, Asap, Roboto sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("img/backnav.png");
}

header{
    grid-column: 1/13;
    background-color: white;
    width: 100%;
    position: fixed;
}


.nav-wrapper{
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    padding: 2px 0px;
    width: 90%;
    margin: 0px auto;
}

.navigation {
    font-size: 0.9em;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
}

.mobile-nav-toggle {
    display: none;
}

li {
    display: inline-block;
}

.nav-wrapper a:hover{
    color: orange;
}

a.style{
    padding: 20px 20px;
    font-size: 20px;
    color: rgb(121, 157, 171);
    text-decoration: none;
}

a.button {
    border: 2px solid black;
    padding: 2px;
    text-align: center;

}

.button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 12px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 600;
}

.button1 {
    background-color: rgb(121, 157, 171);
    border: none;
}

.button1:hover {
    background-color: rgba(245, 138, 7, 1.0);
    color: white;

}



.pusto
{
    height:70px;
}


.keybordstuff {
    height: 257px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75px;
    background: rgba(220,241,251,.6);

}
.keybordstuff p {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #1D3444;
}

#CircleWorkspace {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.ourpack {
    width: 1074px;
    height: 111px;
    left: 183px;
    top: 417px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #799DAB;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin-top: 70px;
}

.ourpack h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.features {
    margin-top: 30px;
    color: #516871;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.infogrid1 {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*margin-top: 30px;*/
    /*color: #465C65;*/
    /*justify-content: space-between;*/
    /*width: 1000px;*/
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    color: #465C65;
    justify-content: space-between;
}

.appman {
    display: flex;
    flex-direction: column;
    font-family: 'Asap', sans-serif;
}
.appmanp {
    font-size: 15px;
}

.appmanh2 {
    font-size: 30px;
}


.comminf {
    display:flex;
    flex-direction: column;
}

.palka {
    border-left: 1px solid #465C65;
    height: auto;
    padding-left: 10px;
}

.docman {
    display: flex;
    flex-direction: column;
}


.buybutt {
    text-decoration: none;
    width: 200px;
    height: 74px;
    background: #F58A07;
    border-radius: 27px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 106.5%;
}


.dots {
    width: 1074px;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #799DAB;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin-top: 70px;
}
.dots h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.product2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    color: #465C65;
    justify-content: space-between;
}


.inter {
    font-family: 'Asap', sans-serif;
}

.big {
    font-size: 30px;
}

.connect {
    font-family: 'Asap', sans-serif;
}

.know {
    font-family: 'Asap', sans-serif;
}

.analis {
    font-family: 'Asap', sans-serif;
}




body {
    min-height: 100vh;
}



main {
    margin: 0 auto;
}


footer {
    margin-top: 100px;
    grid-column: 1/13;
    background-color: #C7EAF9;

}


.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    padding: 10px;
    width: 90%;
    margin: 0px auto;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #1D3444;
}

p.merge {
    margin: -10px 0px 10px 0px;
    line-height: 20px;

}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    color: #1D3444;
}

.items2 {
    margin: 0px 10px;
    width: 40px;
    height: 40px;
}

.open-button {
    background-color: #799DAB;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 280px;
    margin-top: 2px ;
    margin-bottom: 5px;
}


.open-button:hover {
    background: #F58A07;
    color: white;
    -webkit-transition: all .3s linear;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;

}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #799DAB;
}
.form-container h2 {
    color: #799DAB;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #799DAB;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
}

.form-container .cancel {
    background-color: #799DAB;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}




/*no mail */

@media (max-width: 1081px) {

    body {
        overflow-x: hidden;
    }

    .navigation {
        z-index: 3;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 60%;
        background-color: black;
        margin: 0px 0px 0px 40%;
        height: 100vh;
        padding-top: 90px;
        background-color: rgba(255, 255, 255, 1.0);
        background-image: url(img/backnav.png);
        background-repeat: repeat;
        text-align: center;
        line-height: 60px;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .navigation li {
        text-align: right;
        margin-right: 15%;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("img/icon-hamburger.svg");
        border: 0;
        background-repeat: no-repeat;
        width: 1.7rem;
        aspect-ratio: 1;
        top: 1.7rem;
        right: 5%;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("img/icon-close.svg");
    }

    footer {
        margin-top: 50px;
        height: 150px;
    }
}

@media screen and (max-width: 640px) {


    .navigation {
        z-index: 3;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 60%;
        background-color: black;
        margin: 0px 0px 0px 40%;
        height: 100vh;
        padding-top: 60px;
        padding-right: 3%;
        background-color: rgba(255, 255, 255, 1.0);
        background-image: url(img/backnav.png);
        background-repeat: repeat;
        text-align: right;
        line-height: 40px;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("img/icon-hamburger.svg");
        border: 0;
        background-repeat: no-repeat;
        width: 1.2rem;
        aspect-ratio: 1;
        top: 1.2rem;
        right: 8%;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("img/icon-close.svg");
    }

    a.style{
        font-size: 17px;
        color: rgb(121, 157, 171);
        text-decoration: none;
    }


    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        padding: 10px;

    }

    .left-side img {

        width: 100px;
        height: 33px;
    }

    #CircleWorkspace {
        display: flex;
        justify-content: center;
        /*width: 100%;*/
        flex-direction: column;
        align-items: center;
    }


    .ourpack {
        width: 360px;
        height: 66px;
        left: 183px;
        top: 417px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #799DAB;
        box-shadow: 5px 10px 4px rgb(0 0 0 / 20%);
        border-radius: 30px;
        margin-top: 70px;
    }


    .appman {
        display: flex;
        flex-direction: column;
        font-family: 'Asap', sans-serif;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        width: 337px;
        /*border: 1px solid #000000;*/
        /*padding: 25px;*/
        /*margin: 25px;*/
    }

    .infogrid1 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        color: #465C65;
    }

    .palka {
        border-left: 0px solid #465C65;
        height:auto;
    }

    .comminf {
        margin-top: 40px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }


    .buybutt {
        text-decoration: none;
        width: 120px;
        height: 56px;
        background: #F58A07;
        border-radius: 27px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 106.5%;
    }

    .product2 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        color: #465C65;
    }
    .dots {
        width: 360px;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #799DAB;
        box-shadow: 5px 10px 4px rgb(0 0 0 / 20%);
        border-radius: 30px;
        margin-top: 70px;
    }

    .comminf {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
    .comminf {
        display: flex;
        flex-direction: column;
    }
    .analis {

        font-family: 'Asap', sans-serif;
        margin-left: 0px;
    }
    .appmanh2 {
        font-size: 30px;
        margin-top: 20px;
    }
    .palka {
        border-left: 0px solid #465C65;
        height: auto;
        padding-left: 0px;

    }
    .know {
        margin-top: 10px;
    }



    footer {
        grid-column: 1/13;
        background-color: #C7EAF9;
        height: 220px;
    }


    .footer-wrap {
        flex-direction: column;
        align-items: center;
    }

    footer h2 {
        font-size: 20px;
        text-align: center;
        margin: 0;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
        color: #1D3444;
    }

    p.merge {
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        margin: 0px auto 10px;
    }

    .items2 {
        margin: 0px 2px;
        width: 20px;
        height: 20px;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #1D3444;
        font-size: 10px;
    }

    footer p {
        margin: 0;
    }
    .boxfm{
        width: 365px;
        border: 0px solid green;
        padding: 25px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin-top: 20px;
        border-radius: 20px;
    }
    .features {
        margin-top: 30px;
        color: #F58A07;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
    }
    .ourpack h2 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 72px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
    }
    .dots h2 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 72px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
    }
    .keybordstuff p {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        color: #1D3444;
    }
    .keybordstuff {
        height: 217px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 75px;
        background: rgba(220,241,251,.6);
    }
}



